<div class="hero-unit">
    <h1>Hello, there.</h1>
    <p>This is a CS171 project, powered by Ruby on Rails, Processing, and Bootstrap CSS. Data is acquired from Twitter API (with enhancements from Apigee), Ruby Geocoder, and Twitter Sentiment.</p> 
</div>
