<div class="page-header">
    <h1>About Tweetography</h1>
</div>

<div class="row">
	<div class="span6">
		<blockquote>
			<p>Social Media is about sociology and psychology more than technology.</p>
			<small>Brian Solis, Principal of FutureWorks</small>
		</blockquote>
	</div>
	<div class="span6">
		<blockquote>
			<p>Social networks aren’t about Web sites. They’re about experiences.</p>
			<small>Mike DiLorenzo, NHL social media marketing director</small>
		</blockquote>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>These quotes characterize the essence of social media, an amorphous humanized glue that brings people closer together, explores group interactions, and probes the evolution and dynamism of cultural forces. <strong>Tweetography</strong> embraces all of these ideals, providing a unique platform to engage with and analyze information transmission and subsequent connections: through our easy-to-use web interface, we allow content-based filtering of live tweets, displaying their geographical evolution over time through an interactive Processing application. We go beyond distribution analysis and delve deeper into the nature of these tweets, using well-established sentiment APIs to gauge their respective moods and collapsing the content into a visually accessible word cloud. Ultimately, we strive to place you at the epicenter of the social network, giving you the tools to track local, national, and global evolutionary cultural forces with the hope of better connecting you to your world.  Welcome to <strong>Tweetography</strong>, humanity's seismograph at your fingertips.</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p><strong>Tweetography</strong> is implemented with Ruby on Rails, Processing, and Bootstrap CSS. It also uses the following technologies:</p>
		<ul>
			<li><a href="https://dev.twitter.com/">Twitter's API</a> for data retrieval</li>
			<li><a href="https://apigee.com/resources/twitter">Apigee</a> to enhance usage of Twitter's API</li>
			<li><a href="http://unfoldingmaps.org/">Unfolding</a> and <a href="http://mapbox.com/tilemill/">Tilemill</a> to help generate an interactive map with zooming and panning</li>
			<li><a href="http://wordcram.org">Wordcram</a> to help generate word clouds</li>
			<li><a href="https://sites.google.com/site/twittersentimenthelp/api">Twitter Sentiment API</a> for mood analysis</li>
			<li><a href="http://www.rubygeocoder.com/">Ruby Geocoder</a> for reverse geocoding capabilities</li>
		</ul>
	</div>
</div>
</br>
<div class="row">
	<div class="span12">
		<h3>Screenshots</h3>
		</br>
		<ul class="thumbnails">
			<li class="span6">
				<a href="/select.png" class="thumbnail">
					<%= image_tag "/select.png", alt: "Select" %>
				</a>
				</br>
				<h5>Filtering</h5>
				<p>Users can zoom and pan on the map, and also select specific tweets for analysis.</p>
			</li>
			<li class="span6">
				<a href="/mood.png" class="thumbnail">
					<%= image_tag "/mood.png", alt: "Mood" %>
				</a>
				</br>
				<h5>Mood Analysis</h5>
				<p>Tweets are color-coded by their mood, with green corresponding to happier tweets, blue for neutral, and red for bad.</p>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span12">
		<ul class="thumbnails">
			<li class="span6">
				<a href="/time.png" class="thumbnail">
					<%= image_tag "/time.png", alt: "Time" %>
				</a>
				</br>
				<h5>Temporal Display</h5>
				<p>Users can play an animation displaying the locations of the returned tweets in temporal order.</p>
			</li>
			<li class="span6">
				<a href="/inspect.png" class="thumbnail">
					<%= image_tag "/inspect.png", alt: "Inspect" %>
				</a>
				</br>
				<h5>Inspection</h5>
				<p>Users can inspect various attributes of their selected tweets, including user statistics and a word cloud representation of tweets.</p>
			</li>
		</ul>
	</div>
</div>
