<div class="page-header">
	<h1>Sample Code</h1>
</div>

<p>Please visit our repository over at <a href="https://github.com/wsun/tweetography">Github</a> to download the latest copy of our source code. The enclosed README contains instructions on how to set up a local, running version of the Processing visualization, as well as how to use the search setup to generate tweet data to visualize.</p>

