@import "bootstrap";

/* universal */
html {
    overflow-y: scroll;
}

// padding between header
body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

/* header */
#logo {
    float: left;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

/* form */
.form-actions {
    background: none;
    border: none;
}

/* button */
#sample {
    margin-left: 25px;
}

#req {
    color: red;
}


/* footer */
footer {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
}

footer a:hover {
    text-decoration: none;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}
