<footer class="footer">
    <small>
        By Sachin Patel and Will Sun
    </small>
    <nav>
        <ul>
        	<li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><a href="http://youtube.com/watch?v=W6asKAs2RWc">Video</a>
            </li>
            <li><a href="/Tweetography.pdf">Process Book</a></li>
            <li><a href="https://github.com/wsun/tweetography">Code</a></li>
        </ul>
    </nav>
</footer>
